<header>
    <a routerLink="/" class="logo">{{title}}</a> 
    <a routerLink="/user-list" routerLinkActive="active" class="button">User List</a>
    <a routerLink="/role-list" routerLinkActive="active" class="button">Role List</a>
    <a *ngIf="!isLogged" routerLink="/login" routerLinkActive="active" class="button">Login</a>
    <button *ngIf="isLogged" (click)="onLogout()" >logout</button>

    <span [style.color]="isLogged ? 'green' : 'red'" >{{ isLogged? fullName : 'Not Authenticated!'}}</span>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>  