<div class="section" style="display: flex; justify-content: center; justify-items: center;"> 
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()" style="width: 600px;">
        <fieldset>
            <legend>Login</legend>
            <div class="row responsive-label">
                <div class="col-sm-12 col-md-3">
                    <label for="sf1-username" >Username</label>
                </div>
                <div class="col-sm-12 col-md">
                    <input type="text" id="sf1-username" style="width:100%;" 
                        [formControlName]="N('username')" placeholder="Username" />
                </div>
            </div>
            <div class="row responsive-label">
                <div class="col-sm-12 col-md-3">
                    <label for="sf1-pwd" >Password</label>
                </div>
                <div class="col-sm-12 col-md">
                    <input type="password" 
                        [formControlName]="N('password')"
                        placeholder="Password" id="sf1-pwd" style="width:100%;"  >
                </div>
            </div>  
            <div class="row">
                <input type="submit" [class]="form.valid?'primary':'secondary'" value="Send" />
            </div>   
        </fieldset>
    </form>
</div>

<!-- <pre>{{errors | json}}</pre> -->